* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
  }

  
  body {
    height: 100%;
    background-color: white;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .coconut-green-text{
    color: #4E6D16;

    
}
.tiptap.ProseMirror {
  min-height: 150px; 
  height: auto; 
  width: 100%;
  padding: 10px;
  box-sizing: border-box; 
}
.hiddenCanvasElement {
  display: none;
}

  